.card {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner {
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    padding: rem(10);
  }
}

.title {
  font-weight: bold;
  font-family: var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-lg);
  margin-left: var(--mantine-spacing-xl);
  border-left: 2px solid black;
}
